.section-feature {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-list__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
// width: calc((100% - 90px) / 4);

.feature-list__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  //width: 270px;
  height: 120px;
  background-color: var(--comand-background-color);
  border-radius: 4px;
}

.feature-list__title {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  color: var(--title-color);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.feature-list__text {
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}
