.header {
  border-bottom: 1px solid var(--header-border);
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav__item{
  .site-nav__list &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__list,
.site-address {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__logo {
  color: var(--logo-black-color);
}

.site-nav .link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  transition: color var(--trn);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-address {
  display: flex;
  margin-left: auto;
  gap: 50px;
  
}

.site-address__item {
  display: flex;
 
}

.site-address__link {
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--trn);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-address__icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.link.current {
  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}
